.checkout-form{
    color: white;
    
}
.checkout-form-input{
    padding: 5px 50px 10px 100px;
    border-radius: 5px;
    margin-left: 80px;
}
.labels{
    margin-left: 80px;
}
.submit-btn{
    margin-left: 80px;
}
.success{
    width: 400px;
    color: white;
    margin-right: 50px;
}

.showing{
    font-size: 16px;
}
.li{
    font-size: 16px;
}